{% extends 'base.html' %}

{% block title %}
    修改问题
{% endblock %}

{% block content %}
<div class="pure-g gua-main">
    <div class="pure-u-3-4 gua-center">
    <div class="gua-block">
        <form action="{{ url_for('question.update', id=question.id) }}" method="post">
            <input name="title" class="gua-full gua-content" placeholder="标题" value="{{ question.title }}">
            <br>
            <textarea name="expectation" placeholder="描述你需要完成的需求以及目的（目的就是为什么要做这个需求）"
                      class="gua-full gua-content" required>{{ question.expectation }}</textarea>
            <br>
            <textarea name="thinking" placeholder="描述你的想法或思路"
                      class="gua-full gua-content" required>{{ question.thinking }}</textarea>
            <br>
            <textarea name="procedure" placeholder="描述具体的实现过程"
                      class="gua-full gua-content" required>{{ question.procedure }}</textarea>
            <br>
            <textarea name="problems" placeholder="描述遇到的问题，包括正确信息，报错信息或得到的不正确的信息"
                      class="gua-full gua-content" required>{{ question.problems }}</textarea>
            <br>
            <textarea name="code" placeholder="有条件则贴出具体实现代码"
                      class="gua-full gua-content ">{{ question.code }}</textarea>
            <br>
            <button id="id-button-update" class="pure-button pure-button-primary gua-full">提交修改</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}