<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/signin.css" rel="stylesheet">
    <title>注册页面</title>
</head>
<body>
<div class="container">
    <form class="form-signin" role="form" action="{{ url_for('user.register') }}" method="post">
        <label>请输入注册信息：</label>
        <input name='username' class="form-control" placeholder="Username" required autofocus>
        <input name='password' type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <a href="{{ url_for('user.login') }}">登录</a>
            </label>
            <label>
                <a class="" href="{{ url_for('question.index') }}">返回主页</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    </div>
</body>
</html>